* {
  font-family: IranSansWeb;
}

.App {
  width: 30rem;
  margin: auto;
  text-align: center;
}

.main-card {
  height: auto;
  background-color: rgb(19, 19, 19) !important;
  border: solid rgb(10, 10, 10) 1px !important;
}

.no-select
{
  user-select: none;
  user-zoom: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.title {
  font-weight: 300;
  color: white !important;
}

.text {
  text-align: start;
  unicode-bidi: plaintext;
  background-color: rgb(34, 34, 34) !important;
  border: solid rgb(16, 16, 16) 1px !important;
  color: rgb(170, 170, 170) !important;
  font-weight: 100;
  direction: rtl;
}

.text-addon {
  text-align: start;
  unicode-bidi: plaintext;
  background-color: rgb(41, 41, 41) !important;
  border: solid rgb(16, 16, 16) 1px !important;
  color: rgb(170, 170, 170) !important;
  font-weight: 100;
}

Label
{
  font-weight: 200;
  color: rgb(170, 170, 170) !important;
  background-color: rgb(26, 26, 26);
  padding: 0.3rem;
  border-radius: 5px;
}
